Repository alibaba/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

test: update config
  jest.config.js
  package.json
  packages/hooks/package.json
  packages/hooks/src/utils/__tests__/index.spec.ts
  packages/hooks/vitest.config.ts
  packages/use-url-state/package.json
Due: biome check --write --no-errors-on-unmatched

feat: useImmediateEffect
  config/hooks.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useImmediateEffect/__tests__/index.test.ts
  packages/hooks/src/useImmediateEffect/demo/demo1.tsx
  packages/hooks/src/useImmediateEffect/index.en-US.md
  packages/hooks/src/useImmediateEffect/index.ts
  packages/hooks/src/useImmediateEffect/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix: 修复useRequest在启动两个以上轮询时，设置页面隐藏停止轮询，页面重新显示时，有请求不自动开始轮询的问题。 (#2688)
  packages/hooks/src/useRequest/src/utils/subscribeFocus.ts
  packages/hooks/src/useRequest/src/utils/subscribeReVisible.ts
Due: biome check --write --no-errors-on-unmatched

perf: add nx cache
  .gitignore
  nx.json
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

perf: use rspack build
  package.json
  packages/hooks/package.json
  packages/hooks/rspack.config.js
  packages/use-url-state/package.json
  packages/use-url-state/rspack.config.js
  pnpm-lock.yaml
  rspack.common.js
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix: 修复 useInfiniteScroll 时序竞争问题 (#2786)
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

fix: 修复 useInfiniteScroll 中的代码格式问题，确保函数返回值和调用一致性
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

fix: extract common function for set operations (#2661)
  packages/hooks/src/useSet/index.ts
Due: biome check --write --no-errors-on-unmatched

fix: 修复 useInfiniteScroll 和 useWebSocket 中的代码格式问题，确保代码风格一致性
  packages/hooks/src/useInfiniteScroll/index.tsx
  packages/hooks/src/useWebSocket/index.ts
Due: biome check --write --no-errors-on-unmatched

fix: 修复readyState判断问题 (#2705)
  packages/hooks/src/useInfiniteScroll/index.tsx
  packages/hooks/src/useWebSocket/index.ts
Due: biome check --write --no-errors-on-unmatched

chore: 更新 ahooks 版本至 3.9.1
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

refactor: update domTarget
  packages/hooks/src/utils/domTarget.ts
Due: biome check --write --no-errors-on-unmatched

chore(@ahooksjs/use-url-state): build by rslib
  package.json
  packages/use-url-state/gulpfile.js
  packages/use-url-state/package.json
  packages/use-url-state/rslib.config.ts
  packages/use-url-state/src/index.ts
  packages/use-url-state/tsconfig.build.json
  packages/use-url-state/webpack.config.js
  pnpm-lock.yaml
  tsconfig.base.json
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: update node version
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

fix: useMount 支持 返回 promise 函数
  packages/hooks/package.json
  packages/hooks/src/useMount/__tests__/index.spec.ts
  packages/hooks/src/useMount/index.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: update package.json
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

chore: unnecessary type validation leads to build errors
  tsconfig.base.json
  tsconfig.pro.json
Due: biome check --write --no-errors-on-unmatched

chore: ci test improve
  packages/hooks/package.json
  packages/hooks/vitest.config.ts
  packages/use-url-state/package.json
  packages/use-url-state/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched

Fix/use mount return promise By pr-2831 (#2833)
  packages/hooks/package.json
  packages/hooks/src/useMount/__tests__/index.spec.ts
  packages/hooks/src/useMount/index.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.pro.json
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: update version
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

feat: add useSse hooks
  config/hooks.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useSse/__tests__/index.spec.ts
  packages/hooks/src/useSse/demo/demo1.tsx
  packages/hooks/src/useSse/index.en-US.md
  packages/hooks/src/useSse/index.ts
  packages/hooks/src/useSse/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

feat: update code
  packages/hooks/src/useSse/__tests__/index.spec.ts
  packages/hooks/src/useSse/index.en-US.md
  packages/hooks/src/useSse/index.ts
  packages/hooks/src/useSse/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: test cmd improve
  packages/hooks/package.json
  packages/hooks/vitest.config.ts
  packages/use-url-state/package.json
  packages/use-url-state/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched

fix: reloadAsync runAsync payload issue
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

Update index.tsx
  packages/hooks/src/useAntdTable/index.tsx
Due: biome check --write --no-errors-on-unmatched

feat: update test
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

docs: add useBoolean usage example
  example/.gitkeep
Due: none

refactor(useUrlState): rename initialState to baseState
  packages/use-url-state/__tests__/setup.tsx
  packages/use-url-state/src/index.ts
  packages/use-url-state/use-url-state.en-US.md
  packages/use-url-state/use-url-state.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: test cmd improve (#2835)
  packages/hooks/package.json
  packages/hooks/vitest.config.ts
  packages/use-url-state/package.json
  packages/use-url-state/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched

fix: reloadAsync runAsync payload issue (#2836)
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

chore: update version to 3.9.4
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --write --ignore-unknown: any of: *.{md,yml,yaml}
