Repository alibaba/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

docs: md format
  packages/use-url-state/use-url-state.en-US.md
Due: prettier --write --ignore-unknown

docs: md
  packages/use-url-state/use-url-state.zh-CN.md
Due: prettier --write --ignore-unknown

test(createDeepCompareEffect): vitest
  jest.config.js
  package.json
  packages/hooks/package.json
  packages/hooks/src/createDeepCompareEffect/tests/index.spec.ts
  packages/hooks/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched

fix: update import statement for useBroadcastChannel to default export
  packages/hooks/src/useBroadcastChannel/__tests__/index.test.ts
  packages/hooks/src/useBroadcastChannel/demo/demo1.tsx
  packages/hooks/src/useBroadcastChannel/index.ts
Due: biome check --write --no-errors-on-unmatched

fix: tsconfig (#2805)
  jest.config.js
  package.json
  packages/hooks/src/useMount/demo/demo1.tsx
  packages/use-url-state/tsconfig.pro.json
  packages/use-url-state/use-url-state.en-US.md
  packages/use-url-state/use-url-state.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix: ut error
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

chore: tsconfig
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched

chore: tsconfig
  tsconfig.pro.json
Due: biome check --write --no-errors-on-unmatched

chore: tsconfig
  gulpfile.js
  packages/hooks/tsconfig.json
  packages/hooks/tsconfig.pro.json
Due: biome check --write --no-errors-on-unmatched

chore: tsconfig
  packages/use-url-state/tsconfig.pro.json
Due: biome check --write --no-errors-on-unmatched

test: jest config
  jest.config.js
Due: biome check --write --no-errors-on-unmatched

test(createDeepCompareEffect): vitest (#2807)
  gulpfile.js
  jest.config.js
  package.json
  packages/hooks/package.json
  packages/hooks/src/createDeepCompareEffect/tests/index.spec.ts
  packages/hooks/tsconfig.json
  packages/hooks/tsconfig.pro.json
  packages/hooks/vitest.config.ts
  packages/use-url-state/tsconfig.pro.json
  tsconfig.json
  tsconfig.pro.json
Due: biome check --write --no-errors-on-unmatched

test(createUpdateEffect): vitest
  package.json
  packages/hooks/src/createUpdateEffect/tests/index.spec.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

test(useStorageState): vitest
  packages/hooks/src/createUseStorageState/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

test(useAsyncEffect): vitest
  packages/hooks/src/useAsyncEffect/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

test(useBoolean): vitest
  packages/hooks/src/useBoolean/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

test(createUpdateEffect): vitest (#2810)
  package.json
  packages/hooks/src/createUpdateEffect/tests/index.spec.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

test(useBoolean): vitest (#2813)
  packages/hooks/src/useBoolean/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

test(useStorageState): vitest (#2811)
  packages/hooks/src/createUseStorageState/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

test(useAsyncEffect): vitest (#2812)
  packages/hooks/src/useAsyncEffect/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

refactor: jest to vitest
  packages/hooks/src/useClickAway/tests/index.spec.ts
  packages/hooks/src/useCookieState/tests/index.spec.tsx
  packages/hooks/src/useCountDown/tests/index.spec.ts
  packages/hooks/src/useCounter/__tests__/index.test.ts
  packages/hooks/src/useCounter/tests/index.spec.ts
  packages/hooks/src/useCreation/tests/index.spec.ts
  packages/hooks/src/useDebounce/tests/index.spec.ts
  packages/hooks/src/useDebounceEffect/tests/index.spec.ts
  packages/hooks/src/useDebounceFn/tests/index.spec.ts
  packages/hooks/src/useDeepCompareEffect/tests/index.spec.ts
  packages/hooks/src/useDeepCompareLayoutEffect/tests/index.spec.ts
  packages/hooks/src/useDocumentVisibility/tests/index.spec.ts
  packages/hooks/src/useDynamicList/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

refactor: more vitest
  jest.config.js
  match-media-mock.js
  package.json
  packages/hooks/src/useDebounceEffect/tests/index.spec.ts
  packages/hooks/src/useDebounceFn/tests/index.spec.ts
  packages/hooks/src/useMemoizedFn/__tests__/index.test.ts
  packages/hooks/src/useRequest/__tests__/useThrottlePlugin.test.ts
  packages/hooks/src/useTextSelection/__tests__/index.test.ts
  packages/hooks/src/useTextSelection/tests/index.spec.ts
  packages/hooks/src/useTheme/__test__/index.test.ts
  packages/hooks/src/useTheme/tests/index.spec.ts
  packages/hooks/src/useThrottle/__tests__/index.test.ts
  packages/hooks/src/useThrottle/tests/index.spec.ts
  packages/hooks/src/useThrottleEffect/__tests__/index.test.ts
  packages/hooks/src/useThrottleEffect/tests/index.spec.ts
  packages/hooks/src/useThrottleFn/__tests__/index.test.ts
  packages/hooks/src/useThrottleFn/tests/index.spec.ts
  packages/hooks/src/useTimeout/__tests__/index.test.ts
  packages/hooks/src/useTimeout/tests/index.spec.ts
  packages/hooks/src/useTitle/__tests__/index.test.ts
  packages/hooks/src/useTitle/tests/index.spec.ts
  packages/hooks/src/useToggle/__tests__/index.test.ts
  packages/hooks/src/useToggle/tests/index.spec.ts
  packages/hooks/src/useUnmount/__tests__/index.test.ts
  packages/hooks/src/useUnmount/tests/index.spec.ts
  packages/hooks/src/useUnmountedRef/__tests__/index.test.ts
  packages/hooks/src/useUnmountedRef/tests/index.spec.ts
  packages/hooks/src/useUpdate/__tests__/index.test.ts
  packages/hooks/src/useUpdate/tests/index.spec.ts
  packages/hooks/src/useUpdateEffect/__tests__/index.test.ts
  packages/hooks/src/useUpdateEffect/tests/index.spec.ts
  packages/hooks/src/useUpdateLayoutEffect/__tests__/index.test.ts
  packages/hooks/src/useUpdateLayoutEffect/tests/index.spec.ts
  packages/hooks/src/useVirtualList/__tests__/index.test.ts
  packages/hooks/src/useVirtualList/tests/index.spec.ts
  packages/hooks/src/useWebSocket/__tests__/index.test.ts
  packages/hooks/src/useWebSocket/tests/index.spec.ts
  packages/hooks/src/useWhyDidYouUpdate/__tests__/index.test.ts
  packages/hooks/src/useWhyDidYouUpdate/tests/index.spec.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(useRequest): vitest
  package.json
  packages/hooks/src/useRequest/__tests__/useLoadingDelayPlugin.test.ts
  packages/hooks/src/useRequest/__tests__/usePollingPlugin.test.ts
  packages/hooks/src/useRequest/__tests__/useRetryPlugin.test.ts
  packages/hooks/src/useRequest/tests/index.spec.ts
  packages/hooks/src/useRequest/tests/useAutoRunPlugin.spec.ts
  packages/hooks/src/useRequest/tests/useCachePlugin.spec.tsx
  packages/hooks/src/useRequest/tests/useDebouncePlugin.spec.ts
  packages/hooks/src/useRequest/tests/useLoadingDelayPlugin.spec.ts
  packages/hooks/src/useRequest/tests/usePollingPlugin.spec.ts
  packages/hooks/src/useRequest/tests/useRefreshOnWindowFocusPlugin.spec.ts
  packages/hooks/src/useRequest/tests/useRetryPlugin.spec.ts
  packages/hooks/src/useRequest/tests/useThrottlePlugin.spec.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: rm jest-localstorage-mock
  jest.config.js
Due: biome check --write --no-errors-on-unmatched

feat(useRowSpan): calculate rowspan data based on hierarchical data structure
  config/hooks.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useRowSpan/__tests__/index.test.ts
  packages/hooks/src/useRowSpan/demo/demo1.tsx
  packages/hooks/src/useRowSpan/demo/demo2.tsx
  packages/hooks/src/useRowSpan/index.en-US.md
  packages/hooks/src/useRowSpan/index.tsx
  packages/hooks/src/useRowSpan/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

feat(useRowSpan): calculate rowspan data based on hierarchical data structure
  config/hooks.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useRowSpan/demo/demo1.tsx
  packages/hooks/src/useRowSpan/demo/demo2.tsx
  packages/hooks/src/useRowSpan/index.tsx
Due: biome check --write --no-errors-on-unmatched

feat(useRowSpan): calculate rowspan data based on hierarchical data structure
  packages/hooks/src/useRowSpan/demo/demo1.tsx
  packages/hooks/src/useRowSpan/demo/demo2.tsx
  packages/hooks/src/useRowSpan/index.en-US.md
  packages/hooks/src/useRowSpan/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor: vitest
  packages/hooks/src/useAntdTable/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

refactor: vitest
  packages/hooks/src/useControllableValue/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

refactor: vitest
  packages/hooks/src/useDrag/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

refactor: vitest
  packages/hooks/src/useDrop/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

refactor: vitest
  packages/hooks/src/useEventEmitter/tests/index.spec.ts
  packages/hooks/src/useEventListener/tests/index.spec.ts
  packages/hooks/src/useEventTarget/tests/index.spec.ts
  packages/hooks/src/useExternal/tests/index.spec.ts
  packages/hooks/src/useFavicon/tests/index.spec.tsx
Due: biome check --write --no-errors-on-unmatched

refactor: vitest
  packages/hooks/src/useFocusWithin/tests/index.spec.tsx
  packages/hooks/src/useFullscreen/tests/index.spec.ts
  packages/hooks/src/useFusionTable/tests/index.spec.ts
  packages/hooks/src/useGetState/tests/index.spec.ts
  packages/hooks/src/useHistoryTravel/tests/index.spec.ts
  packages/hooks/src/useHover/tests/index.spec.tsx
  packages/hooks/src/useTrackedEffect/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

refactor: vitest
  packages/hooks/src/useReactive/tests/index.spec.tsx
  packages/hooks/src/useResetState/tests/index.spec.ts
  packages/hooks/src/useResponsive/__tests__/__snapshots__/index.test.ts.snap
  packages/hooks/src/useResponsive/tests/__snapshots__/index.spec.ts.snap
  packages/hooks/src/useResponsive/tests/index.spec.ts
  packages/hooks/src/useSafeState/tests/index.spec.ts
  packages/hooks/src/useScroll/tests/index.spec.ts
  packages/hooks/src/useSelections/tests/index.spec.ts
  packages/hooks/src/useSessionStorageState/tests/index.spec.ts
  packages/hooks/src/useSet/tests/index.spec.ts
  packages/hooks/src/useSetState/tests/index.spec.ts
  packages/hooks/src/useSize/tests/index.spec.tsx
Due: biome check --write --no-errors-on-unmatched

refactor: vitest
  packages/hooks/src/useNetwork/tests/index.spec.ts
  packages/hooks/src/usePagination/tests/index.spec.ts
  packages/hooks/src/usePrevious/tests/index.spec.ts
  packages/hooks/src/useRafInterval/tests/index.spec.ts
  packages/hooks/src/useRafInterval/tests/node.spec.ts
  packages/hooks/src/useRafState/tests/index.spec.ts
  packages/hooks/src/useRafTimeout/tests/index.spec.ts
  packages/hooks/src/useRafTimeout/tests/node.spec.ts
Due: biome check --write --no-errors-on-unmatched

refactor: vitest
  .cursor/rules/testing.mdc
  jest.config.js
  jest.setup.js
  package.json
  packages/hooks/src/__tests__/index.test.ts
  packages/hooks/src/tests/index.spec.ts
  packages/hooks/src/useInViewport/__tests__/index.test.ts
  packages/hooks/src/useInViewport/tests/index.spec.ts
  packages/hooks/src/useInfiniteScroll/__tests__/index.test.ts
  packages/hooks/src/useInfiniteScroll/tests/index.spec.ts
  packages/hooks/src/useInterval/__tests__/index.test.ts
  packages/hooks/src/useInterval/tests/index.spec.ts
  packages/hooks/src/useIsomorphicLayoutEffect/__tests__/index.test.ts
  packages/hooks/src/useIsomorphicLayoutEffect/tests/index.spec.ts
  packages/hooks/src/useKeyPress/__tests__/index.test.tsx
  packages/hooks/src/useKeyPress/tests/index.spec.tsx
  packages/hooks/src/useLatest/__tests__/index.test.ts
  packages/hooks/src/useLatest/tests/index.spec.ts
  packages/hooks/src/useLocalStorageState/__tests__/index.test.ts
  packages/hooks/src/useLocalStorageState/tests/index.spec.ts
  packages/hooks/src/useLockFn/__tests__/index.test.ts
  packages/hooks/src/useLockFn/tests/index.spec.ts
  packages/hooks/src/useLongPress/__tests__/index.test.ts
  packages/hooks/src/useLongPress/tests/index.spec.ts
  packages/hooks/src/useMap/__tests__/index.test.ts
  packages/hooks/src/useMap/tests/index.spec.ts
  packages/hooks/src/useMemoizedFn/__tests__/index.test.ts
  packages/hooks/src/useMemoizedFn/tests/index.spec.ts
  packages/hooks/src/useMount/__tests__/index.test.ts
  packages/hooks/src/useMount/tests/index.spec.ts
  packages/hooks/src/useMouse/__tests__/index.test.ts
  packages/hooks/src/useMouse/tests/index.spec.ts
  packages/hooks/src/useMutationObserver/__tests__/index.test.ts
  packages/hooks/src/useMutationObserver/tests/index.spec.ts
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.pro.json
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor: vitest
  packages/hooks/src/index.spec.ts
  packages/hooks/src/utils/tests/index.spec.ts
  packages/hooks/vitest.config.ts
  packages/use-url-state/tests/browser.spec.tsx
  packages/use-url-state/tests/router.spec.tsx
  packages/use-url-state/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched

test: add vitest for useRowSpan hook
  packages/hooks/src/useRowSpan/tests/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --write --ignore-unknown: any of: *.{md,yml,yaml}
