Repository alibaba/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor(useUrlState): rename initialState to baseState (#2843)
  packages/use-url-state/__tests__/setup.tsx
  packages/use-url-state/src/index.ts
  packages/use-url-state/use-url-state.en-US.md
  packages/use-url-state/use-url-state.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

feat: 将js-cookie的类型包放到生产依赖中
  package.json
  packages/hooks/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

Add `useClipboard` hook with clipboard management and tests
  packages/hooks/src/useClipboard/__tests__/index.spec.ts
  packages/hooks/src/useClipboard/demo/demo1.tsx
  packages/hooks/src/useClipboard/demo/demo2.tsx
  packages/hooks/src/useClipboard/demo/demo3.tsx
  packages/hooks/src/useClipboard/index.en-US.md
  packages/hooks/src/useClipboard/index.ts
  packages/hooks/src/useClipboard/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

Update packages/hooks/src/useClipboard/index.ts
  packages/hooks/src/useClipboard/index.ts
Due: biome check --write --no-errors-on-unmatched

Update button labels in useClipboard demo for clarity
  packages/hooks/src/useClipboard/demo/demo1.tsx
Due: biome check --write --no-errors-on-unmatched

Refactor console log message in clipboard permission check
  packages/hooks/src/useClipboard/demo/demo2.tsx
Due: biome check --write --no-errors-on-unmatched

feat: 将js-cookie的类型包放到生产依赖中 (#2844)
  package.json
  packages/hooks/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

feat: useCountdown 新增 currentServerTime 配置
  packages/hooks/src/useCountDown/demo/demo4.tsx
  packages/hooks/src/useCountDown/index.en-US.md
  packages/hooks/src/useCountDown/index.ts
  packages/hooks/src/useCountDown/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: disable sourceMap for es build to avoid publishing .js.map files
  packages/hooks/tsconfig.pro.json
Due: biome check --write --no-errors-on-unmatched

chore: disable sourceMap for es build to avoid publishing .js.map files (#2848)
  packages/hooks/tsconfig.pro.json
Due: biome check --write --no-errors-on-unmatched

docs: add useBoolean usage example (#2840)
  example/.gitkeep
Due: none

Update index.tsx (#2838)
  packages/hooks/src/useAntdTable/index.tsx
Due: biome check --write --no-errors-on-unmatched

chore: update version to 3.9.5 in package.json
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

chore: engines node >=8.0.0
  packages/hooks/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: remove engines
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

chore: remove engines node (#2853)
  packages/hooks/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

test(useWebSocket): migrate from jest to vitest syntax
  packages/hooks/src/useWebSocket/__tests__/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

fix(useWebSocket): fix maxAttemptThrottle not initialized to undefined
  packages/hooks/src/useWebSocket/index.ts
Due: biome check --write --no-errors-on-unmatched

chore: ci workflows
  .github/workflows/test.yml
  packages/use-url-state/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor: replace useEffect with noop in useIsomorphicLayoutEffect for SSR
  packages/hooks/src/useIsomorphicLayoutEffect/index.en-US.md
  packages/hooks/src/useIsomorphicLayoutEffect/index.ts
  packages/hooks/src/useIsomorphicLayoutEffect/index.zh-CN.md
  packages/hooks/src/utils/noop.ts
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(useRequest): return immediately in runAsync when ready=false (no pending)
  packages/hooks/src/useRequest/src/Fetch.ts
Due: biome check --write --no-errors-on-unmatched

test(useRequest): ensure runAsync resolves immediately when ready=false
  packages/hooks/src/useRequest/__tests__/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

chore: update version
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

refactor: code optimization
  packages/hooks/src/createUseStorageState/index.ts
Due: biome check --write --no-errors-on-unmatched

fix(useExternal): the listening event cannot be triggered when the loading is too fast
  packages/hooks/src/useExternal/index.ts
Due: biome check --write --no-errors-on-unmatched

fix(useInfiniteScroll): fix duplicate trigger requests
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

fix(useInfiniteScroll): use requestAnimationFrame for scroll position updates
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

refactor: remove intersection-observer polyfill
  packages/hooks/package.json
  packages/hooks/src/useInViewport/index.ts
Due: biome check --write --no-errors-on-unmatched

test(useInfiniteScroll): add test to ensure service is called only once during rapid scroll events
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

test(useInfiniteScroll): mock requestAnimationFrame for immediate callback execution in tests
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

fix(useInfiniteScroll): use requestAnimationFrame for scroll position updates (#2881)
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

fix(useRafInterval): 修复在执行函数中执行 clear 无效的 bug
  packages/hooks/src/useRafInterval/__tests__/index.spec.ts
  packages/hooks/src/useRafInterval/index.ts
Due: biome check --write --no-errors-on-unmatched

refactor: replace useCallback with useMemoizedFn in useUpdate
  packages/hooks/src/useUpdate/index.ts
Due: biome check --write --no-errors-on-unmatched

Fix: Add alt attributes to discussion group images for accessibility
  README.md
  docs/index.en-US.md
  docs/index.zh-CN.md
Due: prettier --write --ignore-unknown

fix closure issue
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --write --ignore-unknown: any of: *.{md,yml,yaml}
