Repository alibaba/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

docs: fix useClickAway demo (#2798)
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

docs: fix useFusionTable demo (#2799)
  packages/hooks/src/useFusionTable/demo/form.tsx
Due: biome check --write --no-errors-on-unmatched

chore: ignore old version config of umi
  .prettierignore
Due: none

chore: update dumi theme
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: github ci 中打包时，静态资源添加base路径
  .dumirc.ts
  .github/workflows/static.yml
  package.json
  scripts/build-with-relative-paths.js
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

ci: add test branch
  .github/workflows/static.yml
Due: prettier --write --ignore-unknown

ci: remove test branch
  .github/workflows/static.yml
Due: prettier --write --ignore-unknown

docs: revert
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/pr_cn.md
Due: prettier --write --ignore-unknown

chore: update deps and ignore files
  .gitignore
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: 尝试解决ci打包报错
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched

chore: pnpm10 node22
  .github/workflows/static.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: pnpm10 node22
  .eslintrc.js
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: no npmrc
  .npmrc
  package.json
Due: biome check --write --no-errors-on-unmatched

chore: nomrc
  .npmrc
Due: none

feat: add useBroadcastChannel hook
  packages/hooks/src/useBroadcastChannel/__tests__/index.test.ts
  packages/hooks/src/useBroadcastChannel/demo/demo1.tsx
  packages/hooks/src/useBroadcastChannel/index.en-US.md
  packages/hooks/src/useBroadcastChannel/index.ts
  packages/hooks/src/useBroadcastChannel/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: update devDependencies
  package.json
  packages/hooks/package.json
  packages/hooks/src/useMemoizedFn/index.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: update devDependencies
  package.json
  packages/hooks/package.json
  packages/hooks/src/useMemoizedFn/index.ts
Due: biome check --write --no-errors-on-unmatched

chore: update package.json devDependencies (#2802)
  package.json
  packages/hooks/package.json
  packages/hooks/src/useMemoizedFn/index.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: deps update
  package.json
  packages/hooks/package.json
  packages/use-url-state/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: deps update
  packages/hooks/webpack.config.js
  packages/use-url-state/webpack.config.js
Due: biome check --write --no-errors-on-unmatched

chore: package.json
  package.json
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

refactor(useTheme): improve code readability
  packages/hooks/src/useTheme/index.ts
Due: biome check --write --no-errors-on-unmatched

Update biome.json
  biome.json
Due: biome check --write --no-errors-on-unmatched

chore: move devDeps to root
  package.json
  packages/hooks/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

test: skip tests for useBroadcastChannel if BroadcastChannel is unavailable
  packages/hooks/src/index.ts
  packages/hooks/src/useBroadcastChannel/__tests__/index.test.ts
Due: biome check --write --no-errors-on-unmatched

fix: createUseStorageState type unknow (#2795)
  packages/hooks/src/createUseStorageState/index.ts
Due: biome check --write --no-errors-on-unmatched

refactor(useTheme): improve code readability (#2803)
  packages/hooks/src/useTheme/index.ts
Due: biome check --write --no-errors-on-unmatched

chore: upgrade deps version and using v20,22 of nodejs in CI (#2800)
  .eslintrc.js
  .github/workflows/static.yml
  .github/workflows/test.yml
  .npmrc
  biome.json
  package.json
  packages/hooks/package.json
  packages/hooks/src/useClickAway/demo/demo6.tsx
  packages/hooks/src/useFusionTable/demo/form.tsx
  packages/hooks/src/useFusionTable/fusionAdapter.ts
  packages/hooks/src/useHover/demo/demo2.tsx
  packages/hooks/src/useRequest/doc/cache/demo/cacheKey.tsx
  packages/hooks/src/useRequest/doc/cache/demo/clearCache.tsx
  packages/hooks/src/useRequest/doc/cache/demo/params.tsx
  packages/hooks/src/useRequest/doc/cache/demo/setCache.tsx
  packages/hooks/src/useRequest/doc/cache/demo/share.tsx
  packages/hooks/src/useRequest/doc/cache/demo/staleTime.tsx
  packages/hooks/src/useRequest/src/types.ts
  packages/hooks/src/useSize/index.ts
  packages/hooks/webpack.config.js
  packages/use-url-state/package.json
  packages/use-url-state/src/index.ts
  packages/use-url-state/webpack.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/style.css
  public/useExternal/bootstrap-badge.css
  scripts/build-with-relative-paths.js
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

ci: add pkg.pr.new (#2722)
  .github/workflows/pkg.pr.new.yml
Due: prettier --write --ignore-unknown

feat: usemount support destructor (#2713)
  packages/hooks/src/useMount/__tests__/index.test.ts
  packages/hooks/src/useMount/demo/demo1.tsx
  packages/hooks/src/useMount/index.en-US.md
  packages/hooks/src/useMount/index.ts
  packages/hooks/src/useMount/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

test(use-url-state): vitest
  package.json
  packages/use-url-state/package.json
  packages/use-url-state/tests/browser.test.tsx
  packages/use-url-state/tests/router.test.tsx
  packages/use-url-state/tests/setup.tsx
  packages/use-url-state/tsconfig.json
  packages/use-url-state/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

test(use-url-state): vitest (#2804)
  package.json
  packages/use-url-state/package.json
  packages/use-url-state/tests/browser.test.tsx
  packages/use-url-state/tests/router.test.tsx
  packages/use-url-state/tests/setup.tsx
  packages/use-url-state/tsconfig.json
  packages/use-url-state/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(use-url-state): tsconfig
  packages/use-url-state/tsconfig.pro.json
Due: biome check --write --no-errors-on-unmatched

style(use-url-state): format
  packages/hooks/src/useMount/demo/demo1.tsx
Due: biome check --write --no-errors-on-unmatched

test: jest ignore
  jest.config.js
  package.json
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --write --ignore-unknown: any of: *.{md,yml,yaml}
