Repository alibaba/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched"],
  "*.{md,yml,yaml}": ["prettier --write --ignore-unknown"]
}

chore: update
  config/config.ts
  scripts/build-with-relative-paths.js
Due: biome check --write --no-errors-on-unmatched

docs: correct TSX examples
  docs/guide/dom.en-US.md
  docs/guide/dom.zh-CN.md
  packages/hooks/src/useRequest/doc/basic/basic.en-US.md
  packages/hooks/src/useRequest/doc/basic/basic.zh-CN.md
Due: prettier --write --ignore-unknown

Revert "fix(docs): correct docs asset paths for GitHub Pages (#2934)"
  config/config.ts
Due: biome check --write --no-errors-on-unmatched

chore: update
  .github/workflows/static.yml
  scripts/build-with-relative-paths.js
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix: 部署github pages时添加publicPath
  .github/workflows/static.yml
  config/config.ts
  package.json
  scripts/build-with-relative-paths.js
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: update
  .github/workflows/static.yml
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix: correct useToggle overload typings
  packages/hooks/src/useToggle/__tests__/index.spec.ts
  packages/hooks/src/useToggle/index.en-US.md
  packages/hooks/src/useToggle/index.ts
  packages/hooks/src/useToggle/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix: useKeyPress cannot listen to modifier key keyup events
  packages/hooks/src/useKeyPress/__tests__/index.spec.tsx
  packages/hooks/src/useKeyPress/index.ts
Due: biome check --write --no-errors-on-unmatched

fix: reset debounce when request is not ready
  packages/hooks/src/useRequest/__tests__/useDebouncePlugin.spec.ts
  packages/hooks/src/useRequest/src/plugins/useDebouncePlugin.ts
Due: biome check --write --no-errors-on-unmatched

fix: support pointer events in useLongPress
  packages/hooks/src/useLongPress/__tests__/index.spec.ts
  packages/hooks/src/useLongPress/index.ts
Due: biome check --write --no-errors-on-unmatched

fix(useRequest): settle runAsync when superseded instead of hanging
  packages/hooks/src/useRequest/__tests__/index.spec.ts
  packages/hooks/src/useRequest/src/Fetch.ts
Due: biome check --write --no-errors-on-unmatched

fix: bypass debounce when request is not ready
  packages/hooks/src/useRequest/__tests__/useDebouncePlugin.spec.ts
  packages/hooks/src/useRequest/src/plugins/useDebouncePlugin.ts
Due: biome check --write --no-errors-on-unmatched

fix(useRequest): reject ignored requests with a CancelledError
  packages/hooks/src/index.ts
  packages/hooks/src/useRequest/__tests__/index.spec.ts
  packages/hooks/src/useRequest/doc/basic/basic.en-US.md
  packages/hooks/src/useRequest/doc/basic/basic.zh-CN.md
  packages/hooks/src/useRequest/index.ts
  packages/hooks/src/useRequest/src/Fetch.ts
  packages/hooks/src/useRequest/src/utils/cancelledError.ts
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix: repair invalid yaml in issue close workflow
  .github/workflows/issue-close-require.yml
Due: prettier --write --ignore-unknown

fix: repair invalid yaml in issue close workflow (#2952)
  .github/workflows/issue-close-require.yml
Due: prettier --write --ignore-unknown

fix(useRequest): reject dropped debounce and throttle calls
  packages/hooks/src/useRequest/__tests__/useDebouncePlugin.spec.ts
  packages/hooks/src/useRequest/__tests__/useThrottlePlugin.spec.ts
  packages/hooks/src/useRequest/src/plugins/useDebouncePlugin.ts
  packages/hooks/src/useRequest/src/plugins/useThrottlePlugin.ts
  packages/hooks/src/useRequest/src/utils/cancelledError.ts
Due: biome check --write --no-errors-on-unmatched

fix(useRequest): settle calls when trailing is disabled
  packages/hooks/src/useRequest/__tests__/useDebouncePlugin.spec.ts
  packages/hooks/src/useRequest/__tests__/useThrottlePlugin.spec.ts
  packages/hooks/src/useRequest/src/plugins/useDebouncePlugin.ts
  packages/hooks/src/useRequest/src/plugins/useThrottlePlugin.ts
  packages/hooks/src/useRequest/src/utils/cancelledError.ts
Due: biome check --write --no-errors-on-unmatched

fix(useRequest): settle runAsync when superseded instead of hanging (#2951)
  packages/hooks/src/index.ts
  packages/hooks/src/useRequest/__tests__/index.spec.ts
  packages/hooks/src/useRequest/__tests__/useDebouncePlugin.spec.ts
  packages/hooks/src/useRequest/__tests__/useThrottlePlugin.spec.ts
  packages/hooks/src/useRequest/doc/basic/basic.en-US.md
  packages/hooks/src/useRequest/doc/basic/basic.zh-CN.md
  packages/hooks/src/useRequest/index.ts
  packages/hooks/src/useRequest/src/Fetch.ts
  packages/hooks/src/useRequest/src/plugins/useDebouncePlugin.ts
  packages/hooks/src/useRequest/src/plugins/useThrottlePlugin.ts
  packages/hooks/src/useRequest/src/utils/cancelledError.ts
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(useLongPress): track active pointer
  packages/hooks/src/useLongPress/__tests__/index.spec.ts
  packages/hooks/src/useLongPress/index.ts
Due: biome check --write --no-errors-on-unmatched

fix: support pointer events in useLongPress (#2947)
  packages/hooks/src/useLongPress/__tests__/index.spec.ts
  packages/hooks/src/useLongPress/index.ts
Due: biome check --write --no-errors-on-unmatched

fix(useAntdTable): support ProForm transform
  packages/hooks/src/useAntdTable/__tests__/index.spec.ts
  packages/hooks/src/useAntdTable/index.en-US.md
  packages/hooks/src/useAntdTable/index.tsx
  packages/hooks/src/useAntdTable/index.zh-CN.md
  packages/hooks/src/useAntdTable/types.ts
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(useKeyPress): preserve modifiers on keyup
  packages/hooks/src/useKeyPress/__tests__/index.spec.tsx
  packages/hooks/src/useKeyPress/index.ts
Due: biome check --write --no-errors-on-unmatched

fix: remove remaining intersection-observer dependency
  .github/workflows/test.yml
  packages/use-url-state/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix: Remove the deprecated intersection-observer dependency (#2904)
  .github/workflows/test.yml
  packages/hooks/package.json
  packages/hooks/src/useInViewport/index.ts
  packages/use-url-state/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(useKeyPress): cannot listen to modifier key keyup events with exactMatch (#2944)
  packages/hooks/src/useKeyPress/__tests__/index.spec.tsx
  packages/hooks/src/useKeyPress/index.ts
Due: biome check --write --no-errors-on-unmatched

fix(useSetState): type empty state as partial
  packages/hooks/src/useSetState/__tests__/index.spec.ts
  packages/hooks/src/useSetState/index.en-US.md
  packages/hooks/src/useSetState/index.ts
  packages/hooks/src/useSetState/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(useSetState): Supports a default initialState as an empty object. (#2905)
  packages/hooks/src/useSetState/__tests__/index.spec.ts
  packages/hooks/src/useSetState/index.en-US.md
  packages/hooks/src/useSetState/index.ts
  packages/hooks/src/useSetState/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(useRequest): 修复runAsync在节流状态下不生效的问题 (#2899)
  packages/hooks/src/useRequest/__tests__/useThrottlePlugin.spec.ts
  packages/hooks/src/useRequest/src/useRequestImplement.ts
Due: biome check --write --no-errors-on-unmatched

fix(useInfiniteScroll): Closure issue preventing access to the latest data during the initial loadMore() call (#2896)
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

fix: preserve non-nullable ref return types
  packages/hooks/src/useLatest/__tests__/index.spec.ts
  packages/hooks/src/useLatest/index.ts
  packages/hooks/src/useUnmountedRef/__tests__/index.spec.ts
  packages/hooks/src/useUnmountedRef/index.tsx
Due: biome check --write --no-errors-on-unmatched

test: verify mutable ref declarations
  packages/hooks/src/__tests__/refTypes.spec.ts
  packages/hooks/src/useLatest/__tests__/index.spec.ts
  packages/hooks/src/useUnmountedRef/__tests__/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

fix: preserve non-nullable ref return types (#2956)
  packages/hooks/src/__tests__/refTypes.spec.ts
  packages/hooks/src/useLatest/index.ts
  packages/hooks/src/useUnmountedRef/index.tsx
Due: biome check --write --no-errors-on-unmatched

feat(useAsyncEffect): support cleanup functions
  packages/hooks/src/useAsyncEffect/__tests__/index.spec.ts
  packages/hooks/src/useAsyncEffect/index.en-US.md
  packages/hooks/src/useAsyncEffect/index.ts
  packages/hooks/src/useAsyncEffect/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

feat(useAsyncEffect): support cleanup functions (#2958)
  packages/hooks/src/useAsyncEffect/__tests__/index.spec.ts
  packages/hooks/src/useAsyncEffect/index.en-US.md
  packages/hooks/src/useAsyncEffect/index.ts
  packages/hooks/src/useAsyncEffect/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore: release ahooks 3.10.0
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

fix(useInfiniteScroll): stop auto reload on empty pages
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

fix(useInfiniteScroll): defer bottom checks until loading completes
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

chore: release ahooks 3.10.1
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

fix(useInfiniteScroll): recheck whether to load more when the target is resized
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
  packages/hooks/src/useInfiniteScroll/index.en-US.md
  packages/hooks/src/useInfiniteScroll/index.tsx
  packages/hooks/src/useInfiniteScroll/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown
