Repository alibaba/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched"],
  "*.{md,yml,yaml}": ["prettier --write --ignore-unknown"]
}

Add test for clearCache and setCache functionality
  packages/hooks/src/useRequest/__tests__/useCachePlugin.spec.tsx
Due: biome check --write --no-errors-on-unmatched

Fix formatting of clearTimeout call in cache.ts
  packages/hooks/src/useRequest/src/utils/cache.ts
Due: biome check --write --no-errors-on-unmatched

chore: add AGENTS.md
  .cursor/rules/git.mdc
  .cursor/rules/project.mdc
  .cursor/rules/testing.mdc
  AGENTS.md
  CLAUDE.md
Due: prettier --write --ignore-unknown

chore: add AGENTS.md
  packages/hooks/src/createUseStorageState/index.ts
Due: biome check --write --no-errors-on-unmatched

chore(deps): bump typescript from 5.8.3 to 6.0.2
  package.json
  packages/hooks/package.json
  packages/hooks/src/useCookieState/__tests__/index.spec.tsx
  packages/hooks/src/useCookieState/index.ts
  packages/hooks/src/useEventEmitter/demo/demo1.tsx
  packages/hooks/src/useEventEmitter/index.ts
  packages/hooks/tsconfig.json
  packages/use-url-state/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.pro.json
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore(deps): bump typescript from 5.8.3 to 6.0.2
  packages/hooks/src/createUseStorageState/index.ts
  packages/hooks/src/useCookieState/__tests__/index.spec.tsx
  packages/hooks/src/useCookieState/index.ts
  packages/hooks/src/useEventEmitter/demo/demo1.tsx
  packages/hooks/src/useEventEmitter/index.ts
Due: biome check --write --no-errors-on-unmatched

chore: clear
  packages/hooks/src/useWebSocket/demo/demo1.tsx
  packages/hooks/src/utils/createEffectWithTarget.ts
Due: biome check --write --no-errors-on-unmatched

chore: add AGENTS.md (#2923)
  .cursor/rules/git.mdc
  .cursor/rules/project.mdc
  .cursor/rules/testing.mdc
  AGENTS.md
  CLAUDE.md
  packages/hooks/src/createUseStorageState/index.ts
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore(deps): bump typescript from 5.8.3 to 6.0.2 (#2924)
  package.json
  packages/hooks/package.json
  packages/hooks/src/useCookieState/index.ts
  packages/hooks/src/useEventEmitter/demo/demo1.tsx
  packages/hooks/src/useEventEmitter/index.ts
  packages/hooks/src/useWebSocket/demo/demo1.tsx
  packages/hooks/src/utils/createEffectWithTarget.ts
  packages/hooks/tsconfig.json
  packages/use-url-state/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.pro.json
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore(deps): bump jsdom from 26.1.0 to 29.0.0
  config/config.ts
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore(deps): bump jsdom from 26.1.0 to 29.0.0
  config/config.ts
Due: biome check --write --no-errors-on-unmatched

chore: update
  config/config.ts
Due: biome check --write --no-errors-on-unmatched

chore(deps): bump jsdom from 26.1.0 to 29.0.2 (#2925)
  config/config.ts
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore(deps): bump antd from 5.26.3 to 6.3.5
  package.json
  packages/hooks/src/index.spec.ts
  packages/hooks/src/useRequest/doc/retry/demo/retry.tsx
  packages/hooks/src/useUnmount/demo/demo1.tsx
  packages/hooks/tsconfig.pro.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

chore(deps): bump antd from 5.26.3 to 6.3.5
  packages/hooks/src/index.spec.ts
  packages/hooks/src/useRequest/doc/retry/demo/retry.tsx
  packages/hooks/src/useUnmount/demo/demo1.tsx
Due: biome check --write --no-errors-on-unmatched

chore(deps): bump antd from 5.26.3 to 6.3.5 (#2926)
  package.json
  packages/hooks/src/useRequest/doc/retry/demo/retry.tsx
  packages/hooks/src/useUnmount/demo/demo1.tsx
  packages/hooks/tsconfig.pro.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

test: fix test case
  packages/hooks/src/useAntdTable/__tests__/index.spec.ts
  packages/hooks/src/useCountDown/__tests__/index.spec.ts
  packages/hooks/src/useInViewport/__tests__/index.spec.ts
  packages/hooks/src/useInterval/__tests__/index.spec.ts
  packages/hooks/src/useKeyPress/__tests__/index.spec.tsx
  packages/hooks/src/useLongPress/__tests__/index.spec.ts
  packages/hooks/src/useRafInterval/__tests__/node.spec.ts
  packages/hooks/src/useRafTimeout/__tests__/index.spec.ts
  packages/hooks/src/useRafTimeout/__tests__/node.spec.ts
  packages/hooks/src/useRequest/__tests__/useCachePlugin.spec.tsx
  packages/hooks/src/useResponsive/__tests__/__snapshots__/index.spec.ts.snap
  packages/hooks/src/useResponsive/__tests__/index.spec.ts
  packages/hooks/src/useSize/__tests__/index.spec.tsx
Due: biome check --write --no-errors-on-unmatched

test: fix test case
  packages/hooks/src/useAntdTable/__tests__/index.spec.ts
  packages/hooks/src/useCountDown/__tests__/index.spec.ts
  packages/hooks/src/useInViewport/__tests__/index.spec.ts
  packages/hooks/src/useInterval/__tests__/index.spec.ts
  packages/hooks/src/useKeyPress/__tests__/index.spec.tsx
  packages/hooks/src/useLongPress/__tests__/index.spec.ts
  packages/hooks/src/useRafInterval/__tests__/node.spec.ts
  packages/hooks/src/useRafTimeout/__tests__/index.spec.ts
  packages/hooks/src/useRafTimeout/__tests__/node.spec.ts
  packages/hooks/src/useRequest/__tests__/useCachePlugin.spec.tsx
  packages/hooks/src/useResponsive/__tests__/index.spec.ts
  packages/hooks/src/useSize/__tests__/index.spec.tsx
Due: biome check --write --no-errors-on-unmatched

test: fix test case
  packages/hooks/src/useReactive/__tests__/index.spec.tsx
  packages/hooks/src/useSelections/__tests__/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

test: fix test case
  packages/hooks/src/useDrag/__tests__/index.spec.ts
  packages/hooks/src/useDrop/__tests__/index.spec.ts
  packages/hooks/src/useExternal/__tests__/index.spec.ts
  packages/hooks/src/useFocusWithin/__tests__/index.spec.tsx
  packages/hooks/src/useFullscreen/__tests__/index.spec.ts
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
  packages/hooks/src/useLongPress/__tests__/index.spec.ts
  packages/hooks/src/useMount/__tests__/index.spec.ts
  packages/hooks/src/useMutationObserver/__tests__/index.spec.ts
  packages/hooks/src/useRafInterval/__tests__/index.spec.ts
  packages/hooks/src/useTimeout/__tests__/index.spec.ts
  packages/hooks/src/useUnmount/__tests__/index.spec.ts
  packages/hooks/src/useWebSocket/__tests__/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

test: fix test case
  gulpfile.js
  packages/hooks/gulpfile.js
  packages/hooks/src/useClickAway/index.ts
  scripts/build-with-relative-paths.js
Due: biome check --write --no-errors-on-unmatched

test: fix test case
  packages/hooks/src/useClickAway/index.ts
Due: biome check --write --no-errors-on-unmatched

test: fix test case (#2927)
  gulpfile.js
  packages/hooks/gulpfile.js
  packages/hooks/src/useAntdTable/__tests__/index.spec.ts
  packages/hooks/src/useClickAway/index.ts
  packages/hooks/src/useCountDown/__tests__/index.spec.ts
  packages/hooks/src/useDrag/__tests__/index.spec.ts
  packages/hooks/src/useDrop/__tests__/index.spec.ts
  packages/hooks/src/useExternal/__tests__/index.spec.ts
  packages/hooks/src/useFocusWithin/__tests__/index.spec.tsx
  packages/hooks/src/useFullscreen/__tests__/index.spec.ts
  packages/hooks/src/useInViewport/__tests__/index.spec.ts
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
  packages/hooks/src/useInterval/__tests__/index.spec.ts
  packages/hooks/src/useKeyPress/__tests__/index.spec.tsx
  packages/hooks/src/useLongPress/__tests__/index.spec.ts
  packages/hooks/src/useMount/__tests__/index.spec.ts
  packages/hooks/src/useMutationObserver/__tests__/index.spec.ts
  packages/hooks/src/useRafInterval/__tests__/index.spec.ts
  packages/hooks/src/useRafInterval/__tests__/node.spec.ts
  packages/hooks/src/useRafTimeout/__tests__/index.spec.ts
  packages/hooks/src/useRafTimeout/__tests__/node.spec.ts
  packages/hooks/src/useReactive/__tests__/index.spec.tsx
  packages/hooks/src/useRequest/__tests__/useCachePlugin.spec.tsx
  packages/hooks/src/useResponsive/__tests__/__snapshots__/index.spec.ts.snap
  packages/hooks/src/useResponsive/__tests__/index.spec.ts
  packages/hooks/src/useSelections/__tests__/index.spec.ts
  packages/hooks/src/useSize/__tests__/index.spec.tsx
  packages/hooks/src/useTimeout/__tests__/index.spec.ts
  packages/hooks/src/useUnmount/__tests__/index.spec.ts
  packages/hooks/src/useWebSocket/__tests__/index.spec.ts
  scripts/build-with-relative-paths.js
Due: biome check --write --no-errors-on-unmatched

fix: refines number type check
  packages/hooks/src/useCountDown/index.ts
  packages/hooks/src/useVirtualList/demo/demo1.tsx
  packages/hooks/src/utils/__tests__/index.spec.ts
  packages/hooks/src/utils/index.ts
Due: biome check --write --no-errors-on-unmatched

test: update test case
  packages/hooks/src/utils/__tests__/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

refactor(utils): refactor shared type guard utilities
  packages/hooks/src/useMount/index.ts
  packages/hooks/src/utils/__tests__/index.spec.ts
  packages/hooks/src/utils/index.ts
Due: biome check --write --no-errors-on-unmatched

fix(cicd): try to fix CI fail
  config/config.ts
  packages/use-url-state/__tests__/browser.spec.tsx
Due: biome check --write --no-errors-on-unmatched

chore(deps): bump cross-env from 7.0.3 to 10.1.0
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

docs: update QR-Code
  README.md
  README.zh-CN.md
  dingtalk.jpg
  docs/index.en-US.md
  docs/index.zh-CN.md
Due: prettier --write --ignore-unknown

build: migrate webpack configs to TypeScript
  package.json
  packages/hooks/tsconfig.json
  packages/hooks/webpack.config.js
  packages/hooks/webpack.config.ts
  packages/use-url-state/tsconfig.json
  packages/use-url-state/webpack.config.js
  packages/use-url-state/webpack.config.ts
  pnpm-lock.yaml
  webpack.common.ts
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix: correct docs asset paths for GitHub Pages
  config/config.ts
  scripts/build-with-relative-paths.js
Due: biome check --write --no-errors-on-unmatched
