Repository alibaba/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched"],
  "*.{md,yml,yaml}": ["prettier --write --ignore-unknown"]
}

fix(useRequest): runAsync not working with throttle options
  packages/hooks/src/useRequest/__tests__/useThrottlePlugin.spec.ts
  packages/hooks/src/useRequest/src/useRequestImplement.ts
Due: biome check --write --no-errors-on-unmatched

Fix: Add alt attributes to discussion group images for accessibility (#2892)
  README.md
  docs/index.en-US.md
  docs/index.zh-CN.md
Due: prettier --write --ignore-unknown

feat: temp
  packages/hooks/src/useRequest/__tests__/useThrottlePlugin.spec.ts
  packages/hooks/src/useRequest/src/plugins/useThrottlePlugin.ts
Due: biome check --write --no-errors-on-unmatched

fix: (useKeyPress): add legacy key aliases for compatibility with standard names
  packages/hooks/src/useKeyPress/index.ts
Due: biome check --write --no-errors-on-unmatched

feat: 单测增加，文档补充说明
  packages/hooks/src/useKeyPress/__tests__/index.spec.tsx
  packages/hooks/src/useKeyPress/index.en-US.md
  packages/hooks/src/useKeyPress/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(useRequest): return immediately in runAsync when ready=false (no pending) (#2866)
  packages/hooks/src/useRequest/__tests__/index.spec.ts
  packages/hooks/src/useRequest/src/Fetch.ts
Due: biome check --write --no-errors-on-unmatched

fix: (useKeyPress): add legacy key aliases for compatibility with sta… (#2900)
  packages/hooks/src/useKeyPress/__tests__/index.spec.tsx
  packages/hooks/src/useKeyPress/index.en-US.md
  packages/hooks/src/useKeyPress/index.ts
  packages/hooks/src/useKeyPress/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(useRafInterval): 修复在执行函数中执行 clear 无效的 bug (#2884)
  packages/hooks/src/useRafInterval/__tests__/index.spec.ts
  packages/hooks/src/useRafInterval/index.ts
Due: biome check --write --no-errors-on-unmatched

refactor: replace useEffect with noop in useIsomorphicLayoutEffect for SSR (#2859)
  packages/hooks/src/useIsomorphicLayoutEffect/index.en-US.md
  packages/hooks/src/useIsomorphicLayoutEffect/index.ts
  packages/hooks/src/useIsomorphicLayoutEffect/index.zh-CN.md
  packages/hooks/src/utils/noop.ts
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

refactor: replace useCallback with useMemoizedFn in useUpdate (#2887)
  packages/hooks/src/useUpdate/index.ts
Due: biome check --write --no-errors-on-unmatched

fix: 修复 useEventListener 显式泛型时 target 不接受 ref 的类型问题
  packages/hooks/src/useEventListener/__tests__/index.spec.ts
  packages/hooks/src/useEventListener/index.ts
Due: biome check --write --no-errors-on-unmatched

fix: 移除已废弃的 intersection-observer 依赖
  packages/hooks/package.json
  packages/hooks/src/useInViewport/index.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(useSetState): 支持默认 initialState 为空对象
  packages/hooks/src/useSetState/__tests__/index.spec.ts
  packages/hooks/src/useSetState/index.en-US.md
  packages/hooks/src/useSetState/index.ts
  packages/hooks/src/useSetState/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(useLocalStorageState): 新增 SSR 安全初始化选项
  packages/hooks/src/createUseStorageState/__tests__/index.spec.ts
  packages/hooks/src/createUseStorageState/index.ts
  packages/hooks/src/useLocalStorageState/index.en-US.md
  packages/hooks/src/useLocalStorageState/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix(useRequest): 修复默认参数场景的类型推导
  packages/hooks/src/useRequest/__tests__/index.spec.ts
  packages/hooks/src/useRequest/src/useRequest.ts
Due: biome check --write --no-errors-on-unmatched

clear timer when delete cached data from cache
  packages/hooks/src/useRequest/src/utils/cache.ts
Due: biome check --write --no-errors-on-unmatched

chore: update version
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

refactor: code optimization (#2868)
  packages/hooks/src/createUseStorageState/index.ts
Due: biome check --write --no-errors-on-unmatched

fix: avoid re-render on same storage state
  packages/hooks/src/createUseStorageState/index.ts
  packages/hooks/src/useLocalStorageState/__tests__/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

fix: avoid re-render on same storage state
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
  packages/hooks/src/useLocalStorageState/__tests__/index.spec.ts
  packages/hooks/src/useRequest/__tests__/index.spec.ts
  packages/hooks/src/useUpdate/index.ts
Due: biome check --write --no-errors-on-unmatched

fix: update
  packages/hooks/src/createUseStorageState/index.ts
Due: biome check --write --no-errors-on-unmatched

fix: avoid re-render on same storage state (#2912)
  packages/hooks/src/createUseStorageState/index.ts
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
  packages/hooks/src/useLocalStorageState/__tests__/index.spec.ts
  packages/hooks/src/useRequest/__tests__/index.spec.ts
  packages/hooks/src/useUpdate/index.ts
Due: biome check --write --no-errors-on-unmatched

chore: performance optimization
  packages/hooks/src/createUseStorageState/index.ts
Due: biome check --write --no-errors-on-unmatched

chore: performance optimization (#2913)
  packages/hooks/src/createUseStorageState/index.ts
Due: biome check --write --no-errors-on-unmatched

chore: update version (#2910)
  packages/hooks/package.json
Due: biome check --write --no-errors-on-unmatched

chore(use-url-state): rename package and add migration notices
  README.md
  README.zh-CN.md
  docs/guide/upgrade.en-US.md
  docs/guide/upgrade.zh-CN.md
  packages/use-url-state/README.md
  packages/use-url-state/demo/demo1.tsx
  packages/use-url-state/demo/demo2.tsx
  packages/use-url-state/demo/demo3.tsx
  packages/use-url-state/demo/demo4.tsx
  packages/use-url-state/package.json
  packages/use-url-state/tsconfig.json
  packages/use-url-state/use-url-state.en-US.md
  packages/use-url-state/use-url-state.zh-CN.md
  packages/use-url-state/webpack.config.js
Due: biome check --write --no-errors-on-unmatched, prettier --write --ignore-unknown

fix: correct package alias for use-url-state
  config/config.ts
  tsconfig.pro.json
Due: biome check --write --no-errors-on-unmatched

fix closure issue
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

fix(useInfiniteScroll): narrow scrollMethod trigger scope to post-fetch only, add regression tests
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

Commit suggestion
  packages/hooks/src/useInfiniteScroll/__tests__/index.spec.ts
Due: biome check --write --no-errors-on-unmatched

perf(useInfiniteScroll): avoid unnecessary timer/rAF scheduling in bottom mode
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched

style: rename variable
  packages/hooks/src/useInfiniteScroll/index.tsx
Due: biome check --write --no-errors-on-unmatched
